.message{
    width: 50%; height: 200px; margin: auto;
    background-color: rgba(0, 136, 177, 0.445); font-size: 60px; color: rgb(255, 51, 0); text-align: center; margin-top: 15%; border-radius: 15px;  line-height: 200px; outline-color: khaki; outline-style: double;
}