.message{
        width: 50%; 
        height: 200px;
        margin: auto;
        background-color: #FF9F40;
        background: -webkit-linear-gradient(top, #e2e2e2 0%,#FF9F40 50%,#FF9F40 51%,#fefefe 100%);
        font-size: 60px; color: #4867D6;
        text-align: center;
        margin-top: 15%;
        border: 5px inset #64DF85; 
        line-height: 200px; 
        border-radius: 10px; 
}